<app-header></app-header>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white; font-size: 16px;">Loading... please wait</p>
</ngx-spinner>
<div class="container-fluid mt-6">
    <ng-container class="row mt-3" *ngIf="!isPasswordChanged">
        <form #updatePassForm="ngForm">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <mat-card>
                        <h5 class="text-center mb-4 grey">Change Password</h5>
                        <hr>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Current Password</mat-label>
                                        <input matInput required #currPassword="ngModel" [type]="hide1 ? 'password' : 'text'" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" minlength="8" passwordOnly matInput maxlength="20" placeholder="Enter Current Password"
                                            [(ngModel)]="currentPassword" name="currpassword">
                                        <mat-icon class="password-eye" matSuffix (click)="hide1 = !hide1">
                                            {{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </mat-form-field>
                                    <div *ngIf="currPassword.invalid && (currPassword.dirty || currPassword.touched)" class="text-danger mt--1">
                                        <div *ngIf="currPassword.errors.required">Password is required</div>
                                        <div *ngIf="currPassword.errors.minlength">Password must be at least 8 characters
                                        </div>
                                        <div *ngIf="currPassword.errors.pattern && !currPassword.errors.minlength">
                                            Invalid Password</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>New Password</mat-label>
                                        <input matInput required #newPass="ngModel" [type]="hide2 ? 'password' : 'text'" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" minlength="8" passwordOnly matInput maxlength="20" placeholder="Enter New Password" [(ngModel)]="newPassword"
                                            (keyup)="matchPass()" name="newpassword">
                                        <mat-icon class="password-eye" matSuffix (click)="hide2 = !hide2">
                                            {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </mat-form-field>
                                    <div *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="text-danger mt--1">
                                        <div *ngIf="newPass.errors.required">Password is required</div>
                                        <div *ngIf="newPass.errors.minlength">Password must be at least 8 characters
                                        </div>
                                        <div *ngIf="newPass.errors.pattern && !newPass.errors.minlength">Invalid Password
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput required #cnfPassword="ngModel" [type]="hide3 ? 'password' : 'text'" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" minlength="8" passwordOnly matInput maxlength="20" placeholder="Enter New Password Again"
                                            [(ngModel)]="confirmPassword" (keyup)="matchPass()" name="confirmpaswd">
                                        <mat-icon class="password-eye" matSuffix (click)="hide3 = !hide3">
                                            {{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </mat-form-field>
                                    <div *ngIf="cnfPassword.invalid && (cnfPassword.dirty || cnfPassword.touched)" class="text-danger mt--1">
                                        <div *ngIf="cnfPassword.errors.required">Password is required</div>
                                        <div *ngIf="cnfPassword.errors.minlength">Password must be at least 8 characters
                                        </div>
                                        <div *ngIf="cnfPassword.errors.pattern && !cnfPassword.errors.minlength">Invalid Password
                                        </div>
                                    </div>
                                    <div class="text-danger f-12 mt--1" *ngIf="cnfPassword.valid && passMisMatch && confirmPassword">Password does not match
                                    </div>
                                    <div class="text-success f-12 mt--1" *ngIf="cnfPassword.valid && !passMisMatch && confirmPassword">Password match
                                    </div>
                                </div>
                            </div>
                            <div class="grey f-12">
                                <strong>Password must contain</strong> <br> At least 8 characters, one number(0-9), one special character(@$!%*#?&) and combination of uppercase and lowercase letter
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="text-center m-3">
                <button mat-raised-button class="btn btn-secondary mr-2" (click)="goToDashboard()">Cancel</button>
                <button type="submit" mat-raised-button class="btn btn-primary" (click)="updatePassword()" [disabled]="updatePassForm.invalid || passMisMatch">Update</button>
                <div *ngIf="showError" class="mat-h3 text-danger">Fill Current, New and Confirm Password</div>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="isPasswordChanged">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <mat-card>
                    <mat-card-content>
                        <div class="text-center">
                            <img mat-card-image class="tick-icon" src="assets/images/check_circle_outline.png" alt="">
                            <h2 class="mat-h2">
                                Password Changed Successfully
                            </h2>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="text-center m-3">
                    <button mat-raised-button class="btn btn-primary" (click)="goToAdminLogin()">Continue to Re-Login</button>
                </div>

            </div>
        </div>
    </ng-container>

</div>