        .welcome-note {
            position: relative;
            top: -6px;
        }
        
        .banner-top {
            color: #fff;
            position: relative;
            width: 390px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -140%);
        }
        
        .banner-top2 {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);
        }
        
        .desk-view p {
            color: #fff !important;
            font-size: 18px !important;
        }
        
        .banner-top p {
            font-size: 14px !important;
        }
        
        .banner-top h5 {
            color: #fff !important;
            line-height: 1.4;
        }
        
        .w-2 {
            width: calc(100% - 200px);
        }
        
        html,
        body,
        section,
        .container1 {
            height: 100vh;
        }
        
        .container1 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        
        .container1 .left {
            padding: 8rem;
            background: #813D7E;
            color: #fff;
        }
        
        .container1 .right {
            padding: 8rem;
            background: #fff;
        }
        
        @media (max-width: 606px) {
            html,
            body,
            section,
            .container1 {
                height: unset !important;
            }
        }
        
        @media (max-width: 1000px) {
            .container1 .left {
                padding: 1rem !important;
            }
            .container1 .right {
                padding: 1rem !important;
            }
            .banner-top {
                width: 300px;
            }
        }
        
        @media (max-width: 501px) {
            .desk-view {
                display: none;
            }
            .banner-top {
                text-align: center;
                position: relative;
                width: auto;
                top: auto;
                left: auto;
                transform: none;
            }
            .banner-top2 {
                text-align: center;
                position: relative;
                top: auto;
                left: auto;
                transform: none;
            }
        }
        
        .text-primary {
            cursor: pointer;
        }
        
        .f-14 {
            font-size: 14px;
        }